<div class="container">
    <h1 class="text-center">My happy customers are my biggest motivation</h1>
    <div class="pt-4 justify-content-center row">
        <div class="col-lg-4 col-md-6">
            <div class="card mb-4 ">
                <div class="face round-border front-face "> <img src="https://cdn.pixabay.com/photo/2018/07/25/08/58/business-3560916_1280.jpg " alt=" " class="profile ">
                    <div class="pt-3 text-uppercase name "> Julia Baumgarten </div>
                    <div class="designation ">Designer</div>
                </div>
                <div class="face round-border back-face "> <span class="fas fa-quote-left "></span>
                    <div class="testimonial "> Personally, I can't imagine a better photographer like Lisa Moore. I've tried a lot of photographers, but Lisa's precision is unbeatable. </div> <span class="fas fa-quote-right "></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
            <div class="card mb-4 ">
                <div class="face round-border front-face "> <img src="https://cdn.pixabay.com/photo/2018/04/07/17/26/startup-3299033_1280.jpg " alt=" " class="profile ">
                    <div class="pt-3 text-uppercase name "> Robert Schauer</div>
                    <div class="designation ">Head of Porsche Wien</div>
                </div>
                <div class="face round-border back-face "> <span class="fas fa-quote-left "></span>
                    <div class="testimonial "> After Lisa takes care of the photos of our cars, our profits have increased by a few percent. She was able to capture every detail of our design.</div> <span class="fas fa-quote-right "></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
            <div class="card mb-4 ">
                <div class="face round-border front-face "> <img src="https://cdn.pixabay.com/photo/2016/11/22/06/05/girl-1848454_1280.jpg " alt=" " class="profile ">
                    <div class="pt-3 text-uppercase name "> Aleksandra Orlova</div>
                    <div class="designation ">Supermodel</div>
                </div>
                <div class="face round-border back-face "><span class="fas fa-quote-left "></span>
                    <div class="testimonial "> Lisa clearly created my best photo book. Thanks to that, I get offers for photography from all over the world. Thank you Lisa. </div> <span class="fas fa-quote-right "></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
            <div class="card mb-4 ">
                <div class="face round-border front-face "> <img src="https://cdn.pixabay.com/photo/2015/03/03/18/58/woman-657753__480.jpg " alt=" " class="profile ">
                    <div class="pt-3 text-uppercase name ">Doris Mueller</div>
                    <div class="designation ">Teacher</div>
                </div>
                <div class="face round-border back-face "> <span class="fas fa-quote-left "></span>
                    <div class="testimonial "> Lisa was hired as a photographer on our wedding. Her work I can strongly recommend.</div> <span class="fas fa-quote-right "></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
            <div class="card mb-4 ">
                <div class="face round-border front-face "> <img src="https://cdn.pixabay.com/photo/2020/10/28/08/18/girl-5692748_1280.jpg " alt=" " class="profile ">
                    <div class="pt-3 text-uppercase name "> Cornelia Magnato</div>
                    <div class="designation ">Enterpriser</div>
                </div>
                <div class="face round-border back-face "> <span class="fas fa-quote-left "></span>
                    <div class="testimonial ">Lisa can perfectly capture moments with our horses, whether in the horseshed, in nature or directly at the races.</div> <span class="fas fa-quote-right "></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
            <div class="card mb-4 ">
                <div class="face round-border front-face "> <img src="https://cdn.pixabay.com/photo/2016/11/21/12/42/beard-1845166_1280.jpg " alt=" " class="profile ">
                    <div class="pt-3 text-uppercase name ">Erik King</div>
                    <div class="designation ">Freelancer</div>
                </div>
                <div class="face round-border back-face "> <span class="fas fa-quote-left "></span>
                    <div class="testimonial ">I bought a voucher for fotoshooting as a gift for my girlfriend and she was very happy about it.</div> <span class="fas fa-quote-right "></span>
                </div>
            </div>
        </div>
    </div>
</div>