/* You can add global styles to this file, and also import other style files */
a {
  color: rgb(49, 43, 43);
  text-decoration: none;
  &:hover {
      color: #fc8e8e !important;
  }
}

h1 {
  font-family: 'Great Vibes';
}

.round-border {
  border-radius: 15px;
}